body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

#featured-property {
  text-align: center;
}

#featured-property figcaption {
  font-size: 10px;
}

#featured-property > p {
  margin: 0 auto;
  width: 800px;
}

#details {
  display: block;
}

#details > div {
  float: left;
  text-align: center;
  width: 25%;
}
